body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  text-align: center;
  margin-top: 40px;
}

input, button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
}
